.header{
    background-color: black;
    height: 60px;
    text-align: center;
    position: fixed;
    
}

.label-header{
    font-weight: bold;
    font-size: 18;
    color: white;
    display: inline-block;
    margin-top: 15px;
}

.label-goto{
    font-weight: bold;
    font-size: 18;
    color: #61dafb;
    margin-left: 5px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
@media screen and (max-width: 346px){
    .header{
        height: 80px;
    }
}